<%- include("../layouts/users/header.ejs") %>

<!--=============== CSS ===============-->
<link rel="stylesheet" href="/css/users/homepage.css" />
<link rel="stylesheet" href="/css/users/accountDetails.css" />

<!--=============== MAIN ===============-->
<main class="main">
  <!--=============== BREADCRUMB ===============-->
  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li><a href="/" class="breadcrumb__link">Home</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Account</span></li>
    </ul>
  </section>

  <!--=============== ACCOUNTS ===============-->
  <section class="accounts section--lg">
    <div class="accounts__container container grid">
      <div class="account__tabs">
        <a
          href=""
          class="account__tab active-tab"
          data-target="#accountDetails"
        >
          <i class="fi fi-rs-settings"></i> Account details
        </a>
        <a class="account__tab" href="/orders">
          <i class="fi fi-rs-shopping-bag"></i> Orders
        </a>
        <a href="/address" class="account__tab">
          <i class="fi fi-rs-marker"></i> My Address
        </a>
        <a href="/wallet" class="account__tab">
          <i class="fi fi-rs-wallet"></i> Wallet
        </a>
        <a class="account__tab" href="/forgot-password">
          <i class="fi fi-rs-key"></i> Change Password
        </a>
        <a class="account__tab" href="/logout">
          <i class="fi fi-rs-exit"></i> Logout
        </a>
      </div>
      <div class="tabs__content">
        <div class="tab__content active-tab" content id="accountDetails">
          <div class="tab__header">
            <div class="d-flex justify-content-between align-items-center">
              <h2>Account Details</h2>
              <button class="btn" id="editBtn">Edit</button>
            </div>
          </div>

          <div class="tab__body">
            <form
              class="form"
              onsubmit="updateDetails(event,'<%= user._id %> ')"
            >
              <div class="d-flex justify-content-center">
                <img
                  src="<%= user.profilePhoto %>"
                  alt="Profile"
                  class="profile-bubbles"
                />
              </div>

              <div class="form__group">
                <span>Name</span>
                <input
                  type="text"
                  placeholder="Enter your name"
                  class="form__input"
                  id="name"
                  value="<%= (typeof user !== 'undefined' && user.name) || '' %>"
                  readonly
                />
                <span class="text-danger" id="nameError"></span>
              </div>

              <div class="form__group">
                <span>Email</span>
                <% if(user.googleId === null) { %>
                <input
                  type="email"
                  placeholder="Enter your email"
                  id="email"
                  class="form__input"
                  value="<%= (typeof user !== 'undefined' && user.email) || '' %>"
                  readonly
                />
                <% } else { %>
                <input
                  type="email"
                  placeholder="Email"
                  id="email"
                  class="form__input"
                  value="<%= (typeof user !== 'undefined' && user.email) || '' %>"
                  readonly
                  disabled
                />
                <% } %>
                <span class="text-danger" id="emailError"></span>
              </div>

              <div class="form__group">
                <span>Mobile</span>
                <input
                  type="tel"
                  placeholder="Enter your mobile number"
                  id="phone"
                  class="form__input"
                  value="<%= (typeof user !== 'undefined' && user.phone) || '' %>"
                  readonly
                />
                <span class="text-danger" id="phoneError"></span>
              </div>

              <button
                type="submit"
                style="display: none"
                class="btn"
                id="saveBtn"
              >
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!--=============== FOOTER ===============-->

<!--=============== MAIN JS ===============-->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/scripts/users/main.js"></script>
<!-- Add SweetAlert2 CDN -->

<script src="/scripts/users/accountDetails.js"></script>
<%- include("../layouts/users/footer.ejs") %>
