<%- include("../layouts/users/header.ejs") %>
<!--=============== CSS ===============-->
<link rel="stylesheet" href="/css/users/homepage.css" />
<!--=============== MAIN ===============-->
<main class="main">
  <!--=============== BREADCRUMB ===============-->
  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li><a href="/" class="breadcrumb__link">Home</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><a href="/address" class="breadcrumb__link">Address</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Edit-Address</span></li>
    </ul>
  </section>

  <!--=============== ACCOUNTS ===============-->
  <section class="accounts section--lg">
    <div class="accounts__container container grid">
      <div class="account__tabs">
        <a
          href="/accountDetails"
          class="account__tab"
          data-target="#accountDetails"
        >
          <i class="fi fi-rs-settings"></i> Account details
        </a>
        <p class="account__tab" data-target="#orders">
          <i class="fi fi-rs-shopping-bag"></i> Orders
        </p>
        <p class="account__tab" data-target="#update-profile">
          <i class="fi fi-rs-user"></i> Update Profile
        </p>
        <p class="account__tab active-tab" data-target="#address">
          <i class="fi fi-rs-marker active-tab"></i> My Address
        </p>
        <p class="account__tab" data-target="#change-password">
          <i class="fi fi-rs-settings-sliders"></i> Change Password
        </p>
        <p class="account__tab"><i class="fi fi-rs-exit"></i> Logout</p>
      </div>
      <div class="tabs__content">
        <div class="tab__content active-tab" content id="addresses">
          <h3 class="tab__header">Edit Address</h3>
          <div class="address__form-container">
            <form
              class="address__form"
              id="addAddressForm"
              onsubmit="handleFormSubmit('<%= addressData._id  %>' )"
            >
              <div class="form__group">
                <label for="name" class="form__label">House Name</label>
                <input
                  type="text"
                  id="houseName"
                  value=" <%= addressData.name %> "
                  class="form__input"
                  name="house_name"
                />
                <span id="houseNameError" class="error-message"></span>
              </div>

              <div class="form__group">
                <label for="type" class="form__label">Address Type</label>
                <select id="type" class="form__input" name="addressType">
                  <option value="">Select Type</option>
                  <option value="home" <%= addressData.addressType === 'home' ? 'selected' : '' %>>Home</option>
                  <option value="work" <%= addressData.addressType === 'work' ? 'selected' : '' %>>Work</option>
                  <option value="other" <%= addressData.addressType === 'other' ? 'selected' : '' %>>Other</option>
                </select>
                
                <span id="addressTypeError" class="error-message"></span>
              </div>

              <div class="form__group">
                <label for="city" class="form__label">City</label>
                <input
                  type="text"
                  id="city"
                  value=" <%= addressData.city %> "
                  class="form__input"
                  name="city"
                />
                <span id="" class="error-message"></span>
              </div>

              <div class="form__group">
                <label for="landmark" class="form__label">Landmark</label>
                <input
                  type="text"
                  id="landmark"
                  value=" <%= addressData.landMark %> "
                  class="form__input"
                  name="landmark"
                />
                <span id="landMarkError" class="error-message"></span>
              </div>

              <div class="form__group">
                <label for="state" class="form__label">State</label>
                <input
                  type="text"
                  id="state"
                  value=" <%=addressData.state%> "
                  class="form__input"
                  name="state"
                />
                <span id="stateError" class="error-message"></span>
              </div>

              <div class="form__group">
                <label for="pincode" class="form__label">Pincode</label>
                <input
                  type="text"
                  id="pincode"
                  name="pincode"
                  value=" <%=addressData.pincode%> "
                  class="form__input"
                />
                <span id="pincodeError" class="error-message"></span>
              </div>

              <div class="form__group">
                <label for="phone" class="form__label">Phone Number</label>
                <input
                  type="tel"
                  id="phone"
                  name="phone"
                  value="<%=addressData.phone%>"
                  class="form__input"
                />
                <span id="phoneError" class="error-message"></span>
              </div>

              <div class="form__group">
                <label for="alt-phone" class="form__label"
                  >Alternate Phone</label
                >
                <input
                  type="tel"
                  name="alt-phone"
                  id="alt-phone"
                  class="form__input"
                  value=" <%=addressData.alternatePhone%> "
               
                />
                <span id="altPhoneError" class="error-message"></span>
              </div>

              <button type="submit" class="btn btn--primary">
                Save Address
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/scripts/users/editAddress.js" ></script>
  <!--=============== MAIN JS ===============-->
  <!-- Add SweetAlert2 CDN -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- <script src="/scripts/users/addAddress.js"></script> -->

  <%- include("../layouts/users/footer.ejs") %>
</main>
