<%- include("../layouts/users/header.ejs") %>
<!--=============== CSS ===============-->
<link rel="stylesheet" href="/css/users/homepage.css" />



  <!--=============== MAIN ===============-->
  <main class="main">
    <!--=============== HOME ===============-->
    <section class="banner">
     <video style="width: 100%; height: 70vh; object-fit: cover;" src="/videos/videoplayback.webm" autoplay muted loop></video>
    </section>

    <!--=============== CATEGORIES ===============-->
    <!-- <section class="categories container section"> -->
      <!-- <h3 class="section__title"><span>Popular</span> Brands</h3> -->
      <!-- <div class="categories__container swiper">
        <div class="swiper-wrapper">
          <a href="shop.html" class="category__item swiper-slide">
            <img
              src="/img/category-1.jpg"
              alt=""
              class="category__img"
            />
            <h3 class="category__title">T-Shirt</h3>
          </a>
          <a href="shop.html" class="category__item swiper-slide">
            <img
              src="/img/category-2.jpg"
              alt=""
              class="category__img"
            />
            <h3 class="category__title">Bags</h3>
          </a>
          <a href="shop.html" class="category__item swiper-slide">
            <img
              src="/img/category-3.jpg"
              alt=""
              class="category__img"
            />
            <h3 class="category__title">Sandal</h3>
          </a>
          <a href="shop.html" class="category__item swiper-slide">
            <img
              src="/img/category-4.jpg"
              alt=""
              class="category__img"
            />
            <h3 class="category__title">Scarf Cap</h3>
          </a>
          <a href="shop.html" class="category__item swiper-slide">
            <img
              src="/img/category-5.jpg"
              alt=""
              class="category__img"
            />
            <h3 class="category__title">Shoes</h3>
          </a>
          <a href="shop.html" class="category__item swiper-slide">
            <img
              src="/img/category-6.jpg"
              alt=""
              class="category__img"
            />
            <h3 class="category__title">Pillowcase</h3>
          </a>
          <a href="shop.html" class="category__item swiper-slide">
            <img
              src="/img/category-7.jpg"
              alt=""
              class="category__img"
            />
            <h3 class="category__title">Jumpsuit</h3>
          </a>
          <a href="shop.html" class="category__item swiper-slide">
            <img
              src="/img/category-8.jpg"
              alt=""
              class="category__img"
            />
            <h3 class="category__title">Hats</h3>
          </a>
        </div>

        <div class="swiper-button-prev">
          <i class="fi fi-rs-angle-left"></i>
        </div>
        <div class="swiper-button-next">
          <i class="fi fi-rs-angle-right"></i>
        </div>
      </div> -->
    <!-- </section> -->

    <!--=============== PRODUCTS ===============-->
    <section class="products container section">
      <div class="tab__btns">
        <span class="tab__btn active-tab" data-target="#featured"
          >Featured</span
        >
        <span class="tab__btn" data-target="#popular">Laptops</span>
        <span class="tab__btn" data-target="#new-added">Refurbished Laptops</span>
      </div>
      <div class="tab__items">
        <div class="tab__item active-tab" content id="featured">
          <div class="products__container grid">
           
            <% for(let i = 0; i < newArrivals.length ; i++){ %>

            <div class="product__item">
              <div class="product__banner">
                <a href="/productDetails/<%= newArrivals[i]._id %>" class="product__images">
                  <img
                    src="<%= newArrivals[i].productImage[0] %>"
                    alt=""
                    class="product__img default"
                  />
                  <img
                    src="<%= newArrivals[i].productImage[0] %>"
                    alt=""
                    class="product__img hover"
                  />
                </a>

                <% if (wishlistProducts.includes(newArrivals[i]._id.toString())) { %>
                <button class="wishlist__btn active"
                id="wishlistActive"
                data-id='<%=newArrivals[i]._id %>'
                  aria-label="Add to Wishlist">
                  <i class="fi fi-rs-heart"></i>
                </button>
              <% }else{ %>
                <button class="wishlist__btn "
                data-id='<%=newArrivals[i]._id %>'
                aria-label="Add to Wishlist">
                <i class="fi fi-rs-heart"></i>
              </button>
              <% } %>
                <div class="product__badge "> <%= newArrivals[i].category.name %> </div>
              </div>
              <div class="product__content">
                <span class="product__category"><%= newArrivals[i].brand.brandName %></span>
                <a href="/productDetails/<%= newArrivals[i]._id %>">
                  <h3 class="product__title"> <%= newArrivals[i].productName %> </h3>
                </a>
                <div class="product__rating ">
                  <i class="fi fi-rs-star"></i>
                  <i class="fi fi-rs-star"></i>
                  <i class="fi fi-rs-star"></i>
                  <i class="fi fi-rs-star"></i>
                  <i class="fi fi-rs-star"></i>
                  <% if(newArrivals[i].combos[0].salePriceBeforeDiscount > 0) {%>
                  <span class="offer-text  " style="">Offer Applied</span>
                   <%}%>
                </div>
                <div class="product__price flex">
                  <span class="new__price">&#8377; <%= newArrivals[i].combos[0].salePrice %> </span>
                  <span class="old__price">&#8377; <%= newArrivals[i].combos[0].regularPrice %> </span>
                  <% 
                    const regularPrice = newArrivals[i].combos[0].regularPrice;
                    const salePrice = newArrivals[i].combos[0].salePrice;
                    const discount = Math.round(((regularPrice - salePrice) / regularPrice) * 100);
                  %>
                  <span class="offer-badge" style="background: #113c7c; color: white; padding: 2px 6px; border-radius: 4px; font-size: 12px; margin-left: 8px;">
                    -<%= discount %>%
                  </span>

                </div>

            
               <% if(newArrivals[i].combos[0].quantity > 0) {%>
                <div class="product__buttons">
                  <button
                    onclick="addToCart('<%=newArrivals[i]._id%>','<%=newArrivals[i].combos[0]._id%>')"
                    class="product__btn add-to-cart-btn"
                  >
                    Add to Cart
                  </button>
                  <a href="/productDetails/<%= newArrivals[i]._id %>" class="product__btn buy-now-btn">
                    Buy Now
                  </a>
                </div>
                <% } else{ %>
                  <div class="product__buttons">
                    <button class="product__btn" disabled>Out of Stock</button>
                  </div>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
        </div>

        <!--laptops-->
        <div class="tab__item" content id="popular">
          <div class="products__container grid">
      
            <% for(let i = 0; i < laptops.length ; i++){ %>
              <div class="product__item">
                <div class="product__banner">
                  <a href="/productDetails/<%= laptops[i]._id %>" class="product__images">
                    <img
                      src="<%= laptops[i].productImage[0] %>"
                      alt=""
                      class="product__img default"
                    />
                    <img
                      src="<%= laptops[i].productImage[0] %>"
                      alt=""
                      class="product__img hover"
                    />
                  </a>
                  <% if (wishlistProducts.includes(laptops[i]._id.toString())) { %>
                    <button class="wishlist__btn active"
                    data-id='<%=laptops[i]._id %>'
                      aria-label="Add to Wishlist">
                      <i class="fi fi-rs-heart"></i>
                    </button>
                  <% }else{ %>
                    <button class="wishlist__btn "
                    data-id='<%=laptops[i]._id %>'
                    aria-label="Add to Wishlist">
                    <i class="fi fi-rs-heart"></i>
                  </button>
                  <% } %>
        
                  <div class="product__badge light-blue">-22%</div>
                </div>
                <div class="product__content">
                  <span class="product__category"> <%= laptops[i].brand.brandName %>  </span>
                  <a href="/productDetails/<%= laptops[i]._id %>">
                    <h3 class="product__title"> <%= laptops[i].productName %> </h3>
                  </a>
                  <div class="product__rating">
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <% if(laptops[i].combos[0].salePriceBeforeDiscount > 0) {%>
                      <span class="offer-text  " style="background: #e8f0fe; color: #113c7c; font-size: 13px; padding: 5px 10px; border-radius: 12px; margin-left: 80px; font-weight: 500; border: 1px solid #cce0ff;">Offer Applied</span>
                       <%}%>
                  </div>
                 
                    <div class="product__price flex">
                      <span class="new__price">&#8377; <%= laptops[i].combos[0].salePrice %> </span>
                      <span class="old__price">&#8377; <%= laptops[i].combos[0].regularPrice %> </span>
                      <% 
                        const regularPrice = laptops[i].combos[0].regularPrice;
                        const salePrice = laptops[i].combos[0].salePrice;
                        const discount = Math.round(((regularPrice - salePrice) / regularPrice) * 100);
                      %>
                      <span class="offer-badge" style="background: #113c7c; color: white; padding: 2px 6px; border-radius: 4px; font-size: 12px; margin-left: 8px;">
                        -<%= discount %>%
                      </span>
                    </div>
                  <% if(laptops[i].combos[0].quantity > 0) {%>
                    <div class="product__buttons">
                      <button
                        onclick="addToCart('<%=laptops[i]._id%>','<%=laptops[i].combos[0]._id%>')"
                        class="product__btn add-to-cart-btn"
                      >
                        Add to Cart
                      </button>
                      <a href="/productDetails/<%= laptops[i]._id %>" class="product__btn buy-now-btn">
                        Buy Now
                      </a>
                    </div>
                    <% } else{ %>
                      <div class="product__buttons">
                        <button class="product__btn" disabled>Out of Stock</button>
                      </div>
                    <% } %>
                </div>
              </div>
              <% } %>
            </div>
            <!--product page end-->
          </div>
        </div>

        <div class="tab__item" content id="new-added">
          <div class="products__container grid">

            <% for(let i = 0; i < refurbishedLaptops.length ; i++){ %>

              <div class="product__item">
                <div class="product__banner">
                  <a href="/productDetails/<%= refurbishedLaptops[i]._id %>" class="product__images">
                    <img
                      src="<%= refurbishedLaptops[i].productImage[0] %>"
                      alt=""
                      class="product__img default"
                    />
                    <img
                      src="<%= refurbishedLaptops[i].productImage[0] %>"
                      alt=""
                      class="product__img hover"
                    />
                  </a>
                  <button class="wishlist__btn <%= refurbishedLaptops[i].isInWishlist ? 'active' : '' %>" 
                    data-id='<%=refurbishedLaptops[i]._id %>'
                    aria-label="Add to Wishlist">
                    <i class="fi fi-rs-heart"></i>
                  </button>
                  <% if (wishlistProducts.includes(refurbishedLaptops[i]._id.toString())) { %>
                    <button class="wishlist__btn active"
                      aria-label="Add to Wishlist">
                      <i class="fi fi-rs-heart"></i>
                    </button>
                  <% }else{ %>
                    <button class="wishlist__btn " 
                    data-id='<%=refurbishedLaptops[i]._id %>'
                    aria-label="Add to Wishlist">
                    <i class="fi fi-rs-heart"></i>
                  </button>
                  <% } %>
                
                  <div class="product__badge light-blue">-22%</div>
                </div>
                <div class="product__content">
                  <span class="product__category"><%= refurbishedLaptops[i].brand.brandName %></span>
                  <a href="/productDetails/<%= refurbishedLaptops[i]._id %>">
                    <h3 class="product__title"> <%= refurbishedLaptops[i].productName %> </h3>
                  </a>
                  <div class="product__rating">
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <% if(refurbishedLaptops[i].combos[0].salePriceBeforeDiscount > 0) {%>
                      <span class="offer-text  " style="background: #e8f0fe; color: #113c7c; font-size: 13px; padding: 5px 10px; border-radius: 12px; margin-left: 80px; font-weight: 500; border: 1px solid #cce0ff;">Offer Applied</span>
                       <%}%>
                  </div>
                
                    <div class="product__price flex">
                      <span class="new__price">&#8377; <%= refurbishedLaptops[i].combos[0].salePrice %> </span>
                      <span class="old__price">&#8377; <%= refurbishedLaptops[i].combos[0].regularPrice %> </span>
                      <% 
                        const regularPrice = refurbishedLaptops[i].combos[0].regularPrice;
                        const salePrice = refurbishedLaptops[i].combos[0].salePrice;
                        const discount = Math.round(((regularPrice - salePrice) / regularPrice) * 100);
                      %>
                      <span class="offer-badge" style="background: #113c7c; color: white; padding: 2px 6px; border-radius: 4px; font-size: 12px; margin-left: 8px;">
                        -<%= discount %>%
                      </span>
                    </div>
                  <% if(refurbishedLaptops[i].combos[0].quantity > 0) {%>
                    <div class="product__buttons">
                      <button
                        onclick="addToCart('<%=refurbishedLaptops[i]._id%>','<%=refurbishedLaptops[i].combos[0]._id%>')"
                        class="product__btn add-to-cart-btn"
                      >
                        Add to Cart
                      </button>
                      <a href="/productDetails/<%= refurbishedLaptops[i]._id %>" class="product__btn buy-now-btn">
                        Buy Now
                      </a>
                    </div>
                    <% } else{ %>
                      <div class="product__buttons">
                        <button class="product__btn" disabled>Out of Stock</button>
                      </div>
                    <% } %>
                </div>
              </div>
              
              <% } %>
          </div>
        </div>
      </div>
    </section>

    <!--=============== NEWSLETTER ===============-->
    <section class="newsletter section home__newsletter">
      <div class="newsletter__container container grid">
        <h3 class="newsletter__title flex">
          <img
            src="/img/icon-email.svg"
            alt=""
            class="newsletter__icon"
          />
          Sign in to Newsletter
        </h3>
        <p class="newsletter__description">
          ...and receive $25 coupon for first shopping.
        </p>
        <form action="" class="newsletter__form">
          <input
            type="text"
            placeholder="Enter Your Email"
            class="newsletter__input"
          />
          <button type="submit" class="newsletter__btn">Subscribe</button>
        </form>
      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!--=============== MAIN JS ===============-->
  <script src="/scripts/users/homepage.js" ></script>
  <script src="/scripts/users/main.js"></script>
   
</body>
</html>

<%-include("../layouts/users/footer.ejs") %>
